<% layout(`layouts/boilerplate`) %>
<link rel="stylesheet" href="/Css/fileInput.css" />

<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="campground[title]" id="title" placeholder="Title" required />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a title</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" name="campground[location]" id="location" placeholder="location" required />
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a location</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Campground Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" name="campground[price]" aria-describedby="price-label" required />
          <div class="valid-feedback">Looks Good!</div>
          <div class="invalid-feedback">Please input a price</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" name="campground[description]" id="description" placeholder="description" required></textarea>
        <div class="valid-feedback">Looks Good!</div>
        <div class="invalid-feedback">Please input a description</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Choose Images</label>
        <div class="input-group custom-file-button">
          <label class="input-group-text" for="image">Browse</label>
          <input class="form-control" type="file" name="image" id="image" multiple />
        </div>
      </div>
      <div class="mb-3"><button class="btn btn-success">Add Campground</button></div>
    </form>
    <footer><a href="/campgrounds">All Campgrounds</a></footer>
  </div>
</div>
